@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/markdown.scss';
@import './styles/dnd.scss';

.scrollbar-neutral {
    --scrollbar-thumb: hsl(var(--n)) !important;
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
